.page {
  background-color: #d9d9d9;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
a{
  text-decoration: none;
}
.section {
  margin-left: -24.8611vw;
  margin-top: -1.5278vw;
  padding: 3.75vw 4.2361vw 6.25vw 12.5694vw;
  background-image: url('../images/BG2.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.group {
  padding-left: 15.4861vw;
  padding-right: 3.1944vw;
}
.space-y-33 > *:not(:first-child) {
  margin-top: 2.2917vw;
}
.image {
  width: 5.4861vw;
  height: 5.4861vw;
}
.image_2 {
  width: 93.6111vw;
  height: 5.5556vw;
}
.button {
  align-self: flex-start;
  margin-left: 15.4861vw;
  margin-top: 2.9861vw;
}
.image_3 {
  width: 23.3333vw;
  height: 4.9306vw;
}
.group_2 {
  margin-top: 3.4722vw;
}
.space-y-25 > *:not(:first-child) {
  margin-top: 1.7361vw;
}
.image_6 {
  width: 23.9583vw;
  height: 22.8472vw;
}
.image-wrapper {
  margin-left: 15.625vw;
  background-image: url('../images/fa8fb89f38411b9dcd0be5df96e10c0b.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 45.7639vw;
  height: 28.3333vw;
}
.image_4 {
  width: 29.7917vw;
  height: 28.3333vw;
}
.image_5 {
  margin-left: 2.1528vw;
  width: 24.7917vw;
  height: 23.5417vw;
}
.image_7 {
  margin-right: 48.3333vw;
  width: 3.4028vw;
  height: 0.625vw;
}
.image_8 {
  margin-right: 3.1944vw;
  margin-top: 4.7222vw;
  width: 10.4167vw;
  height: 2.5vw;
}
ul li{
  width:7em;
  height: 10vh;
  text-align: center;
  line-height: 10vh;
  background-color:#eae2b7 ;
  color:#003049;
   font-size: 35px;

}